<h1>Eat-Da_burger</h1>

<h2>burgers that are not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-undevoured-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-devoured-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-box">burger Name:</label>
    <input type="text" id="burger-box" name="name">
  </div>

  <button type="submit">Submit!</button>
</form>
