<div class="row">
	<div class="col undevouredBurgerBox">
			<p>
			{{id}}. {{burger_name}}
			</p>
	</div>
	<button type="button" class="devour-button align-middle" data-id="{{id}}">Devour!</button>
</div>